
<!DOCTYPE html>
<html>
<head>
<title>Your Order History</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="display-4">Your Orders</h1>

<% if @orders.any? %>
  <table class ="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.created_at.strftime("%B %e, %Y %l:%M %p") %></td>
          <td><%= link_to 'View Details', order_path(order), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no orders yet.</p>
<% end %>
<p><a href="<%= items_path %>" class="back-link">Back to Shop</a></p>
</div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>