<%= form_for @cart, url: cart_path(@cart), method: :delete do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, 'error') %> prohibited this cart from being deleted:</h2>
      <ul>
        <% @cart.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.submit 'Delete' %>
<% end %>
